PORT=5000
MONGODB_URI=mongodb+srv://ShamTech-22:july2026@sciencecbt.4mnqhwy.mongodb.net/science_cbt?retryWrites=true&w=majority&appName=ScienceCbt
JWT_SECRET=your_secret_key
GEMINI_API_KEY=your_gemini_api_key_here
